
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.body {
    display: grid; 
   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Header Header Menu Menu Menu Menu Menu"
      "Header Header Main Main Main Photo Photo"
      "Header Header Main Main Main Photo Photo"
      "Header Header Main Main Main Photo Photo"
      "Footer Footer Main Main Main Social Social"; 
      height: 730px;
      font-family: 'Ubuntu', sans-serif; 
      
      
  }

   .menu, .footer, .main, .social, .photo {
    border: 2px solid black; 
    border-radius: 5px;      
    padding: 10px;           
    margin: 10px;            
    background-color: lightgray; 
}

  
  .header {
    grid-area: Header;
    
    display: flex;              
    justify-content: center;    
    align-items: center;        
    
}

.header__content {
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    justify-content: center;    
    text-align: center;        
}
.search__input {
    
    
    width: 70%; 
    height: 35px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    box-sizing: border-box; 
}




.menu {
    grid-area: Menu;
    background-color: bisque;
    display: flex;
    align-items: center; 
    justify-content: center;     
}

.menu ul {
    
    list-style: none;          
    padding: 0;                                
    display: flex;             
    flex-wrap: wrap; 
    
}

.menu li {
    margin: 0 35px; 
    cursor: pointer;           
    transition: background-color 0.3s; 
    font-size: 1.3vw;          
    word-wrap: break-word; 
    max-width: 100px; 
}

.menu li:hover {
    background-color: rgb(85, 32, 32); 
    border-radius: 4px; 
    color: white; 
}





.main{
    grid-area:Main;
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
}

.main__title {
    font-size: 2vw;
    text-align: center; 
    font-weight: bold;  
    margin: 20px 0;    
}

.main__text {
    font-size: 1vw;                
    text-align: justify;          
    margin: 20px 35px;            
    text-indent: 20px;             
}



.photo{
    grid-area:Photo;
    
    
}

.footer{
    grid-area:Footer;
    background-color: blanchedalmond;
    display: flex;             
    justify-content: center;   
    align-items: center;      
    font-size: 1.3vw;
    flex-wrap: wrap;
}

.social{
    grid-area:Social;
background-color: rgb(43, 16, 7);
display: flex;
justify-content: center; 
    align-items: center; 
   

}


.logo {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

.gallery {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
    padding: 10px; 
}

.gallery img {
    flex: 1 1 calc(50% - 10px); 
    height: 150px; 
    border: 2px solid black; 
    border-radius: 5px; 
    object-fit: cover; 
}

.gallery__title {
    font-size: 2vw;
    text-align: center;
    font-weight: bold;  
    margin: 20px 0;    
}




.gallery img:nth-child(3) {
    flex: 1 1 100%; 
    height: 150px; 
}


@media (max-width: 1150px) {
    .gallery img:nth-child(3) {
        display: none;
    }
}

@media (max-width: 600px) {
    .gallery img:nth-child(1),
    .gallery img:nth-child(2) {
        display: none; 
    }
}

.social__links {
    display: flex; 
    gap: 15px; 
    flex-wrap: wrap; 
}

.social__links i {
    color: white; 
    font-size: 2vw;
    margin: 0 15px;
    transition: color 0.3s ease; 
}

.social__links i:hover {
    color: #ccc; 
}


@media (max-width: 768px) {
    .social__links i {
        font-size: 15px; 
    }
}

